/******* Dashboard Nav Bar **********/
.dashboard-navbar nav{
	border-radius: 0px !important;
	height: 65px;
	padding: 0 20px;
}

.logo-dashboard{
	width: 160px;
	margin-top: -10px;
}


li.profile-dropdown.open a {
	background-color: transparent !important;
}

.dashboard-navbar-picture {
	padding: 0px !important;
	margin-top: 15px;
}

.dashboard-navbar-picture:hover {
	color: rgb(58, 150, 205) !important;
}

.dashboard-navbar-picture p {
	margin-right: 10px;
}

.dashboard-navbar-picture img{
	border-radius: 50%;
	width: 30px;
	margin-top: 2px;
	margin-right: 10px !important;
}

.ft-caret{
	border-top: 7px dashed !important;
	height: 8px !important;
}

.profile-box {
	position: absolute;
	right: -10px;
	top: 60px;
	min-width: 300px;
	background: #fff;
	float: left;
	z-index: 3;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	border: 1px solid #aeaeae;
}


/* arrow tip */

.arrow-tip {
	position: absolute;
	top: 34px;
	left: 5px;
	width: 22px;
	height: 12px;
	background: url(../images/profile-box-arrow.png) no-repeat;
	z-index: 4;
}


.box-content{
	padding: 20px;
	min-height: 80px;
	text-align: left;
}

.picture-big-link{
	padding: 0;
	margin: 0;
	float: left;
}

.picture-big-navbar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.box-name{
	display: inline;
	padding: 15px 0 0 20px !important;
	width: 160px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 700;
	float: left;
	font-size: 1em
}

.star-rating{
	color: #ffbe00;
	border-color: #d49921;
}

.box-rating {
	padding: 0;
	margin: 9px 0 0 20px;
	cursor: pointer;
	float: left;
}


.box-review-count {
	max-width: 65px;
	display: inline-block;
	white-space: nowrap;
	margin-left: 5px;
	font-size: 11.9px;
}

.profile-box-nav {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0;
}


.box-footer {
	padding: 20px 0 0px;
	overflow: hidden;
}

.profile-box-nav a {
	display: table-cell;
	height: 27px;
	text-align: center;
	border-top: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	background-color: #f9f9f9;
	padding: 10px;
}


/* Header Middle Container */

.header-middle-container{
	display: inline-block;
	position: absolute;
	/* left: 192px; */
	text-align: left;
	padding: 20px !important;
}

.middle-tab{
	display: inline-block;
	padding: 0 15px;
	color: #8d9494
}



/*************************/





.custom-dropdown--large {
	font-size: 1.5em;
}

.custom-dropdown--small {
	font-size: .7em;
}

.custom-dropdown__select{
	font-size: inherit; /* inherit size from .custom-dropdown */
	padding: 10px;
	/*margin-top: -15px;*/
}

.custom-dropdown__select--grey {
	background-color: rgb(233, 233, 233);
	color: rgba(167, 167, 167, 0.6);  
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.custom-dropdown__select {
		padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
		border: 0;
		border-radius: 3px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;    
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
		content: "\25BC";
		height: 1em;
		font-size: .625em;
		line-height: 1;
		right: 1.2em;
		top: 50%; 
		margin-top: -.7em;
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		width: 2em;
		right: 0; top: 0; bottom: 0;
		border-radius: 0 3px 3px 0;
	}

	.custom-dropdown__select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown--disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* White dropdown style */
	.custom-dropdown--grey::before {
		background-color: rgb(233, 233, 233);
		border-left: 1px solid rgba(167, 167, 167,.1);
	}

	/* DropDown arrow */
	.custom-dropdown--grey::after {
		color: rgba(58, 150, 205,.9);
		background-color: rgb(233, 233, 233);
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown__select 			 { padding-right: .9em }
		.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
		.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
	}
}

/* Mian Dashboard */
.dashboard-wrapper{
	margin-top: 50px;
}

.transaction-form {
	margin-bottom: 25px;
}

/******* Transaction ******/

.transactions-holder{
	border: 1px solid #ddd;
	padding: 75px !important;
}

.ft-dashboard-tabs ul li a{
	border-top: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
	border-left: 1px solid #ddd !important;
	border-bottom: none !important;
}

.ft-dashboard-tabs ul li.active a{
	background-color: rgb(58, 150, 205) !important;
	color: #fff !important;
}




.transaction-need{
	font-size: 1.5em;
	text-align: center;
}



.need-amt{
	font-size: 0.6em !important;
	width: 200px;
	background-color: rgb(233, 233, 233);
	border: none;
	text-align: center;
	border-radius: 5px;
	padding: 10px 10px;
	margin: 0px 10px;
	outline: none;
}

.need-country{
	font-size: 0.6em !important;
	outline: none;
	width: 200px;
}



.limit-text{
	font-size: 0.55em !important;
	margin-left: 120px;
	text-align: left;
}





/********** Offer ***********/

.transaction-offer{
	font-size: 1.5em;
	text-align: center;
}

.offer-amt{
	font-size: 0.6em !important;
	width: 200px;
	background-color: rgb(233, 233, 233);
	border: none;
	text-align: center;
	border-radius: 5px;
	padding: 10px 10px;
	margin: 0px 15px;
	outline: none;
}




/******** Options *********/

.transaction-options-holder{
	border-bottom: 1px solid rgb(184,184,184);
}

.proposal-btn {
	padding: 10px 30px !important;
	font-size: 1.5em !important;
	margin-top: 20px;
}

.proposal-btn:hover {
	color: white !important;
}


/******* Friends Dashboard *****/

.friends-holder{
	border-left: 1px dashed #ddd;
}

.selfProfile{
    width: 125px;
}

.profile-name h3{
	font-size: 1em;
	color: black;
	font-weight: bold;
	overflow: hidden;
    position: relative;
}

.profile-name:hover{
	text-decoration: none;
}

.profile-name h3:before{
	left: -20px;
    margin: 0 0 0 -200%;
}


.profile-name h3:after{
    content: "";
    width: 200%;
    height: 0.75em;
    display: inline-block;
    margin: 0 -200% 0 0;
    position: relative;
    left: 20px;
    bottom: 0.2em;
    background: url(../images/bg-head.jpg) repeat-x;
    vertical-align: bottom;
}


.ft-profile-progress{
	margin-bottom: 10px !important;
}

.profile-friends{
	font-size: 1.15em;
	font-weight: bold;
}



.profile-fb-friends ul{
	list-style-type: none;
	padding: 0;
}
.profile-fb-friends ul li{
	display: inline-block;
}
.profile-fb-friends ul li img {
    width: 50px;
    border-radius: 50%;
    margin: 15px ;
}

















/*******************************************************************/
/**************** Proposals That Might Interest you  **************/
/*****************************************************************/



.interest-proposals-wrapper{
	/*border: 1px solid black;*/
	margin: 25px 0;
	padding: 30px 0;
}

.proposals-holder{
	margin: 35px 0;
}



.frame-img{
	height: 150px; 
	width: 150px;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	border: 3px solid #FFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

.pr-frame-content{
	width: 150px;
	margin: 0 auto;
}

.pr-content-name p {
	font-size: 1.25em;
	margin: 5px 0 0px !important;
}

.pr-content-name p a:hover {
	color: rgb(58, 150, 205) !important;
	text-decoration: none;
}



.int-pro-img{
	background: #3A6F9A;
	vertical-align: middle;
	max-width: 150px;
	left: -3px;
	position: relative;
}

.spnStarsClass{
	color: #ffbe00;
	border-color: #d49921;
}

.pr-finish{
	margin: 0;
}

.pr-amt{
	font-size: 2.5em;
	margin: 0;
}
.pr-countries{
	margin: -5px 0 0 ;
}

.pr-contact {
	margin: 0 auto;
	text-align: center;
}

.pr-contact a{
	margin-top: 5px; 
	width: 80%;
	background-color: rgb(58, 150, 205);
	border-color: rgb(58, 150, 205);
}

.pr-contact a:hover{
	background-color: rgb(58, 150, 205);
	border-color: rgb(58, 150, 205);
}


/*******************************************/





























