/******* Dashboard Nav Bar **********/
.dashboard-navbar nav{
	border-radius: 0px !important;
	height: 65px;
	padding: 0 20px;
}

.nav-ft{
	margin-bottom: 0px !important;
}

.ft-navbar-desktop{
	display: none !important;
} 



.logo-dashboard{
	width: 160px;
	margin-top: -10px;
}

li.profile-dropdown.open a {
	background-color: transparent !important;
}

.dashboard-navbar-picture {
	padding: 0px !important;
	margin-top: 15px;
}

.dashboard-navbar-picture:hover {
	color: rgb(58, 150, 205) !important;
}

.dashboard-navbar-picture p {
	margin-right: 10px;
}

.dashboard-navbar-picture img{
	border-radius: 50%;
	width: 30px;
	margin-top: 2px;
	margin-right: 10px !important;
}

.ft-caret{
	border-top: 7px dashed !important;
	height: 8px !important;
}

.profile-box {
	position: absolute;
	right: -10px;
	top: 60px;
	min-width: 300px;
	background: #fff;
	float: left;
	z-index: 3;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	border: 1px solid #aeaeae;
}

/* Arrow tip */

.arrow-tip {
	position: absolute;
	top: 34px;
	left: 5px;
	width: 22px;
	height: 12px;
	background: url(../images/profile-box-arrow.png) no-repeat;
	z-index: 4;
}

.box-content{
	padding: 20px;
	min-height: 80px;
	text-align: left;
}

.picture-big-link{
	padding: 0;
	margin: 0;
	float: left;
}

.picture-big-navbar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.box-name{
	display: inline;
	padding: 15px 0 0 20px !important;
	width: 160px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 700;
	float: left;
	font-size: 1em
}

.star-rating{
	color: #ffbe00;
	border-color: #d49921;
}

.box-rating {
	padding: 0;
	margin: 9px 0 0 20px;
	cursor: pointer;
	float: left;
}

.box-review-count {
	max-width: 65px;
	display: inline-block;
	white-space: nowrap;
	margin-left: 5px;
	font-size: 11.9px;
}

.profile-box-nav {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 0;
}

.box-footer {
	padding: 20px 0 0px;
	overflow: hidden;
}

.profile-box-nav a {
	display: table-cell;
	height: 27px;
	text-align: center;
	border-top: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	background-color: #f9f9f9;
	padding: 10px;
}

/* Header Middle Container */

.header-middle-container{
	display: inline-block;
	position: absolute;
	/* left: 192px; */
	text-align: left;
	padding: 20px !important;
}

.middle-tab{
	display: inline-block;
	padding: 0 15px;
	color: #8d9494
}


/**********************************************************************/
/*********************** Dashboard Tabs ******************************/
/********************************************************************/

.dashboard-tabs{
	list-style-type: none;
	clear: both;
	background-color: #fff;
	border-bottom: 1px solid #e1e3e3;
	min-height: 44px;
}

.dashboard-tabs-wrapper{
	min-height: 44px;
	margin-left: 34px
}

.dashboard-tabs-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.dashboardtab-wrapper-tab{
	float: left;
	padding-left: 0;
	padding-right: 0;
	margin: 0 50px 0 0
}

.dashboardtab-wrapper-tab a {
	color: #4e4d4d;
	display: inline-block;
	padding-top: 10.5px;
	padding-bottom: 10.5px;
	position: relative;
	color: #312f2f;
	outline: 0;
	transition: color .3s
}





/*******************************************************************/
/**************** Proposals That Might Interest you  **************/
/*****************************************************************/

.interest-proposals-wrapper{
	/*border: 1px solid black;*/
	margin: 25px 0;
	padding: 30px 0;
}

.proposals-holder{
	margin: 0; 
}


.frame {
	margin-bottom: 50px;
}


.frame-img{
	height: 150px; 
	width: 150px;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	border: 3px solid #FFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

.pr-frame-content{
	width: 150px;
	margin: 0 auto;
}

.pr-content-name p {
	font-size: 1.25em;
	margin: 5px 0 0px !important;
}

.pr-content-name p a:hover {
	color: rgb(58, 150, 205) !important;
	text-decoration: none;
}

.int-pro-img{
	background: #3A6F9A;
	vertical-align: middle;
	max-width: 150px;
	left: -3px;
	position: relative;
}

.spnStarsClass{
	color: #ffbe00;
	border-color: #d49921;
}

.pr-finish{
	margin: 0;
}

.pr-amt{
	font-size: 2.5em;
	margin: 0;
}
.pr-countries{
	margin: -5px 0 0 ;
}

.pr-contact {
	margin: 0 auto;
	text-align: center;
}

.pr-contact a{
	margin-top: 5px; 
	width: 100%;
	background-color: rgb(58, 150, 205);
	border-color: rgb(58, 150, 205);
}

.pr-contact a:hover{
	background-color: rgb(58, 150, 205);
	border-color: rgb(58, 150, 205);
}
/*******************************************/


/******************************************************************************/
/******************************** Media Queries ******************************/
/****************************************************************************/


/* Smartphones  ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Medium size screens  ----------- */
@media only screen and (min-width : 600px)  {

	.frame {
		width: 49%;
		display: inline-block;
	}	
}




/* Medium size screens  ----------- */
@media only screen and (min-width : 768px)  {
	/* NavBar */
	.logo-dashboard-holder{
		float: left;
	}

	.ft-navtabs-mobile{
		display: none;
	}
	.ft-navbar-desktop {
		display: block !important;
	}

	.ft-navbar-mobile{
		display: none;
	}

	/*** Proposals ***/
	.proposals-holder{
		margin: 35px 0 30px 0; 
	}



}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}





















