.interactions {
	padding: 20px 0 ; 
	margin-bottom: 35px;
	border-bottom: 1px solid rgb(184,184,184);
	width: 100%;
	margin: 0 auto;
}

.my-interactions-wrapper{
	padding: 30px 0 50px;
}

.interaction-title{
	font-size: 25px;
	margin: 0 0 30px 0 !important;
}

.interaction-img {
	height: 100px;
    width: 100px !important;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    border: 3px solid #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.interaction-img img {
	vertical-align: middle;
    max-width: 100px;
    left: -3px;
    position: relative;
}


.interaction-contact-info{
	text-align: center;
}


.interaction-name p{
	font-size: 1.25em;
	margin: 0px;
}

.interaction-name p a:hover {
	color: rgb(58, 150, 205);
	text-decoration: none;
}

.interaction-stars{
	color: #ffbe00;
	border-color: #d49921;
	font-size: 1em;
}

.interaction-reviews{
	font-size: 1em;
}

.interaction-p{
	margin: 0px;
}

.interaction-amt{
	font-size: 2.75em;
	margin: 0px;
}

.interaction-place{
	margin: 0px;
}


.interaction-btn {
	width: 200px;
	margin-top: 15px;
	background-color: rgb(58, 150, 205) !important;
	border-color: rgb(58, 150, 205) !important;
}

.interaction-btn:hover {
	background-color: rgb(58, 150, 205) !important;
	border-color: rgb(58, 150, 205) !important;
}







/******************************************************************************/
/******************************** Media Queries ******************************/
/****************************************************************************/


/* Smartphones  ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}


@media only screen and (min-width : 500px) {
/* Styles */
	.interaction-btn {
		width: 250px;
	}
}


	



/* Medium size screens  ----------- */
@media only screen and (min-width : 768px)  {
	
	.interactions {
		width: 90%;
	}

	.interaction-title{
		font-size: 36px;
	}

	.interaction-img img {
		float: right;
	}


	.interaction-btn {
		width: 75%;
	}

	
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	.interaction-btn {
		width: 200px !important;
	}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

































