.ft-landing-navbar{
	background-color: white !important;
	border: none;
	border-color: white !important;
}

.ft-landing-logo{
	width: 150px;
	margin-top: -10px;
}

.ft-landing-bg{
	background-color: rgb( 42 , 75, 107 );
}



/***** Comunity Banner ***********/

.info-banner{
	/*height: 100px;*/
	width: 100%;
	background-color: rgb(41, 65 , 107);
}

.info-banner-msg{
	text-align: center;
	font-size: 1.1em;
  margin-top: 10px;
}

/************ Landing Wrapper **************/
.landing-wrapper {
	background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url('../images/bgl.jpg') ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center; 
    min-height: 450px;
    padding: 50px 0;
}

.save-transfer-info{
	color: white;
	text-align: center;
	font-size: 1.5em;
}

.save-transfer-wrapper{
	position: relative;
}

.no-commision{
	font-size: 2.5em;
}


.reasons-holder{
	margin-top: 10px;
	color: #fff;
	text-align: center
}

.reasons-info{

}



.reasons-info ul{
	list-style-type: none;
	padding: 0;
	margin: 0;

}

.reasons-info ul li {
	background: url("../images/checked.png") no-repeat left top;
	width: 20px;
	padding-left: 20px;
	padding-top: 3px;
	display: inline;
}

.reasons-info ul div {
	margin-top: 25px;
	text-align: center;
}


.reasons-info ul span{
	font-size: 1.5em;
	color: #fff;
}

.landing-signin-btn{
	background-color: rgb(59, 89, 152) !important;
  	border-radius: 0 !important;
  	margin-top: 35px;
}

/*********** Calculator ******************/

.calculator-section {
	background-color: rgb( 42 , 75, 107 );
  padding: 30px 0;
}

.cal-save{
  margin: 10px 0 !important;
}

.send-text{
  font-size: 1.5em
}

.from-text {
  font-size: 1.5em;
  margin-top: 15px;
}

.cal-result{
  font-size: 3.5em;
}


#txtCalculatorAmountLanding, #txtCalculatorAmountLanding:focus {
    border: none;
    padding: 0;
    outline: none;
 }

.calculator-signin-btn{
	background-color: rgb(59, 89, 152) !important;
  border-radius: 0 !important;
  margin-top: 5px;
}


/******************* Como Funciona ********************/


.landing-main-title {
  font-size: 1.75em;
  margin-bottom: 15px !important;
}

.landing-second-title {
  font-size: 1.25em;
  margin-bottom: 15px !important;
}


/********************* FAQ ***********************/

.faq-wrapper{
	margin-top: 30px;
}

.faq-title{
	margin-bottom: 15px !important
}




    

/******************************* Accordion **********************************/

 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0px !important;
}

div.panel p{
    padding: 20px !important;
}

 button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

******************************************************************************/
/******************************** Media Queries ******************************/
/****************************************************************************/


/* Smartphones  ----------- */
@media only screen and (min-width : 321px) {
/* Styles */

font-size: 2em;
}


/* Medium size screens  ----------- */
@media only screen and (min-width : 768px)  {

  /* Info Banner */
  .info-banner-msg{
    font-size: 2em;
    margin-top: 10px;
  }

  .save-transfer-wrapper{
    position:absolute;                  /* added */
    bottom:0;                           /* added */
    left:0;
  }

  .save-transfer-info{
    height: 450px;
  }

  .reasons-holder{
    margin-top: 100px;
  }


  /* Calculator */
  .calculator-signin-btn{
    margin-top: 35px;
  }

  .calculator-section{
  	height: 300px;
  }

  .cal-save{
  	margin-top: 35% !important;
  }

  .calculator-signin-btn{
  	  	margin-top: 35% !important;

  }

  /* COmo Funciona */
  .landing-main-title{
    font-size: 3em;
  }
  .landing-second-title {
    font-size: 2em;
  }

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	.cal-save{
	  	margin-top: 25% !important;
	  }

	  .calculator-signin-btn{
	  	  	margin-top: 25% !important;

	  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}


