.profile-wrapper{
	padding: 50px 0;
	width: 100% !important;
	margin: 0 auto;
}

.profile-wrapper-fix{

}

.profile-img-holder{
	text-align: left;
}

.profile-img-holder img {
	width: 125px;
}

.profile-img-holder p {
	text-align: left;
}

.profile-name {
	font-size: 1.5em;
}

.profile-stars i {
	color: #ffbe00;
	border-color: #d49921;
	font-size: 1.25em;
}

.profile-no-comments{
	font-size: 1.25em;
}

.profile-finish-transactions{
	margin: 10px 0 0 0 !important;
}

.profile-person-info i{
    font-size: 20px;
    margin-right: 10px;
}

.profile-person-info span{
    font-size: 15px;
    margin-right: 25px;
}

.profile-improve{
	width: 125px;
	font-size: 12px;
}


/************************************************************************/
/*************************** Profile Navigation ************************/
/**********************************************************************/




.profile-navigation{
	border-bottom: 1px solid #edeeee;
	border-top: 1px solid #edeeee;
	margin-top: 50px;
	/* min-width: 100%; */
	/*padding: 15px 0;*/
}

.profile-navigation a {
	display: inline-block;
	margin: 20px 0px 0px;
	padding: 0;
	height: 60px;
	line-height: 20px;
	box-sizing: border-box;
	vertical-align: middle;
	color: #8d9494;
	font-size: 14px;
	width: 32%;
	text-align: center;
}



.profile-navigation a:hover {
	border-bottom: 2px solid rgb(58, 150, 205);
	color: rgb(58, 150, 205);
	text-decoration: none;
	cursor: pointer;

}



/**************************************************************/
/************************ About Me ***************************/
/************************************************************/

.about-me-wrapper{
	width: 100% !important;
	margin-top: 50px;
}

.about-me-holder{
	display: block;
}

.about-me-block {
	align-items:  stretch;
	align-self: center ;
}


.about-me-title {
	margin: 50px 0 20px 0 !important;
	font-weight: bold;
	font-size: 2em;
}


.about-me-infoholder{
	margin-top: 35px;	
}


.about-me-details {
    padding: 16px 0;
}


.about-me-details:first-child {
    padding: 16px 0;
    border-bottom: 1px solid #e1e3e3;
    border-top: 1px solid #e1e3e3;
}


.about-me-detail-holder{
	margin: 10px  0;
}

.about-me-detail-holder i {
	margin-right: 10px;
	color: #8d9494;
	font-size: 20px;
}

.about-me-detail-holder span {
	color: #8d9494;
	font-size: 18px;
}

.profile-info-edit {
	margin-top: 5px;
	font-size: 12px;
	margin-bottom: 0px;
}

.profile-improve{
	margin: 0px;
}


/********************************************************/
/****************** Social Conections ******************/
/******************************************************/

.fb-friend-container {
	overflow: hidden;
}

.fb-hide {
	height: 250px;
	overflow: hidden;
}

.fb-show {
	height: 100%;
}

.social-fb-conections{
	display: block;
	padding: 30px 0;
}

.social-conections-title {
	margin: 50px 0 20px 0 !important;
	font-weight: bold;
	font-size: 2em;
}

.social-conections-block{
	align-items:  stretch;
	align-self: center ;
	text-align: left;
	margin-bottom: 20px;
}

.friends-block {
	width: 49%;
	margin-bottom: 15px;
	display: inline-block;
}

.friends-block span {
	color: #8d9494;
	margin-top: 5px !important;
}

.social-cn-img {
	width: 75px;
}


.fb-friends-wrapper{
	margin-top: 20px;
}

.social-fb-frame{
	height: 50px; 
	width: 50px;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	border: 1px solid #FFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	margin: 0 auto 10px;
}

.social-fb-friend {
	background: #3A6F9A;
	vertical-align: middle;
	max-width: 50px;
	left: -3px;
	position: relative;
}

.all-friends{
	float: right;
}

.all-friends:hover{
	cursor: pointer;
	text-decoration: underline;
}



/*LinkedIn*/

.social-lk-conections{
	border-top: 1px solid #e1e3e3;
	display: block;
	padding: 30px 0;
}


/*****************************************************************/
/************************** Review Item *************************/
/***************************************************************/

.review-list{
	padding: 0px;
}

.review-list:first-child {
	border-top: 1px solid #e1e3e3;
}

.review-item {
	padding: 24px 0 20px;
	border-bottom:  1px solid #e1e3e3;
	list-style-type: none;
}

.profile-reviews-title {
	margin: 50px 0 20px 0 !important;
	font-weight: bold;
	font-size: 2em;
}

.reviews-img-frame{
	height: 75px; 
	width: 75px;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	border: 1px solid #FFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 auto 15px;
}

.reviews-img-frame img {
	background: #3A6F9A;
	vertical-align: middle;
	max-width: 75px;
	left: -3px;
	position: relative;
}

.review-info {
	margin-left: 25px;
	display: inline-block;
	vertical-align: top;
}

.review-name{
	font-size: 18px;
}

.review-date {
    color: #8d9494;
    padding-left: 10px;
    font-size: 14px;
	font-weight: 300;
}

.review-stars {
	color: #ffbe00;
	border-color: #d49921;
}

.review-profile-comment {
	margin: 10px auto !important;
	width: 80%;
	font-weight: bold;
	font-size: 1.25em;
}




/******************************************************************************/
/******************************** Media Queries ******************************/
/****************************************************************************/


/* Smartphones  ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

@media only screen and (min-width : 500px)  {

	.friends-block {
		width: 24%;
	}

	/* Reviews */
	.reviews-img-frame{
		display: inline-block;
		margin: 0 auto 15px;
	}

}


/* Medium size screens  ----------- */
@media only screen and (min-width : 768px)  {

	.profile-wrapper{

		width: 65% !important;

	}

	/* Profile Information */
	.profile-name {
	    font-size: 2em;
	}

	.profile-stars i {
		font-size: 1.5em;
	}

	.profile-no-comments{
		font-size: 1.5em;
	}

	.pf-pr-info-block{
		display: inline-block;
	}

	.profile-person-info span{
	    font-size: 20px;
	}


	/***** About Me *****/
	
	.about-me-holder{
		display: flex;
	}

	.about-me-details:first-child {
	    border-top: none;
	}

	/* Social Conections */
	.social-conections-bloc{
		text-align: center;
	}

	.social-fb-conections{
		display: flex;
		text-align: center;
	}

	.social-lk-conections{
		display: flex;
		text-align: center;
	}


	/* Profile Navigation */

	.profile-navigation a {
		margin: 0 5px -1px;
		line-height: 60px;
		font-size: 18px;
		width: 30%;
	}



}

/* Medium devices (desktops, 992px and up) */
@media only screen  and (min-width : 992px) { 

	/* Profile Navigation */

	.profile-navigation a {
		font-size: 20px;
	}
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

	

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}






























