.profile-wrapper{
	padding: 50px 0;
	width: 75% !important;
	margin: 0 auto;
}

.profile-wrapper-fix{

}

.profile-img-holder{
	text-align: center;
}

.profile-img-holder img {
	width: 125px;
	border-radius: 50%;
}

.profile-img-holder p {
	text-align: left;
}

.profile-name {
	font-size: 2em;
}

.profile-stars i {
	color: #ffbe00;
	border-color: #d49921;
	font-size: 1.5em;
}

.profile-no-comments{
	font-size: 1.5em;
}

.profile-finish-transactions{
	margin: 10px 0 0 0 !important;
}

.profile-person-info i{
    font-size: 20px;
    margin-right: 10px;
}

.profile-person-info span{
    font-size: 20px;
    margin-right: 25px;
}

/************************************************************************/
/*************************** Profile Navigation ************************/
/**********************************************************************/




.profile-navigation{
	border-bottom: 1px solid #edeeee;
	border-top: 1px solid #edeeee;
	margin-top: 30px;
	/* min-width: 100%; */
	/*padding: 15px 0;*/
}

.profile-navigation a {
	display: inline-block;
	margin: 0 12px -1px;
	padding: 0;
	height: 43px;
	line-height: 43px;
	box-sizing: border-box;
	vertical-align: middle;
	color: #8d9494;
}

.profile-navigation a:hover {
	border-bottom: 2px solid rgb(58, 150, 205);
	color: rgb(58, 150, 205);
	text-decoration: none;
	cursor: pointer;

}



/**************************************************************/
/************************ About Me ***************************/
/************************************************************/

.about-me-wrapper{
	width: 100% !important;
	margin-top: 50px;
}

.about-me-details {
    display: -webkit-flex;
    display: flex;
    padding: 16px 0;
    border-top: 1px solid #e1e3e3;
}
















