.sp-title-holder{
	text-align: center;
}


.search-proposal-title {
	font-size: 25px;
}

.new-search-btn{

	position: absolute;
	margin: 10px;
	top:  75px;
	right: 0;

}



/******************************************************************************/
/******************************** Media Queries ******************************/
/****************************************************************************/


/* Smartphones  ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}


/* Medium size screens  ----------- */
@media only screen and (min-width : 768px)  {

	.search-proposal-title {
		font-size: 36px;
	}

	.new-search-btn{
		float: right;
		margin: -35px 0 0 0 !important ;
		background-color: rgb(58, 150, 205) !important;
		border-color: rgb(58, 150, 205) !important;
		padding: 10px 35px !important;
		position: relative;
		top: 0;
		color: white;
		border-radius: 5px;
	}

	.new-search-btn:hover{
		text-decoration: none;
		color: white;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

	\


}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}



